##  two types
1. up sampling
2. down sampling

In [95]:
import pandas as pd
import numpy as np
# set random seed for reproducibility
np.random.seed(1234)
#create dataframe with two classes
n_samples=10000
class_0_ratio=0.9
n_class_0=int(n_samples*class_0_ratio)
n_class_1=n_samples-n_class_0

In [96]:
n_class_0,n_class_1

(9000, 1000)

In [97]:
#Create dataframe with imbalanced dataset
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [98]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [99]:
df.tail()

      feature_1  feature_2  target
9995   2.524120   2.648866       1
9996   1.533569   3.191424       1
9997   2.404932   0.975144       1
9998   1.541935   2.133523       1
9999   2.871678   1.576586       1

In [100]:
df['target'].value_counts()

target
0    9000
1    1000
Name: count, dtype: int64

## UP SAMPLING

In [101]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [102]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True,
        n_samples=len(df_majority),
        random_state=42)

In [103]:
df_minority_upsampled.shape

(9000, 3)

In [104]:
df_minority_upsampled.head()

      feature_1  feature_2  target
9102   1.255147   0.621293       1
9435   1.139647   2.152397       1
9860   1.819745   3.248317       1
9270   2.327661   2.785077       1
9106   1.540453   2.264387       1

In [105]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [106]:
df_upsampled['target'].value_counts()

target
0    9000
1    9000
Name: count, dtype: int64

DOWN SAMPLING

In [107]:
import pandas as pd

# Set the random seed for reproducibility
np.random.seed(123)

# Create a dataframe with two classes
n_samples = 10000
class_0_ratio = 0.9
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

df = pd.concat([class_0, class_1]).reset_index(drop=True)

# Check the class distribution
print(df['target'].value_counts())

target
0    9000
1    1000
Name: count, dtype: int64

In [108]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [109]:
from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False,
        n_samples=len(df_minority),
        random_state=42)

In [110]:
df_majority_downsampled.shape

(1000, 3)

In [111]:
df_majority_downsampled.head()

      feature_1  feature_2  target
7940   1.699748  -1.020555       0
1162  -0.028946   1.482346       0
582    0.974132   0.039383       0
4081  -0.486014  -0.542117       0
8412   1.987222  -0.920032       0

In [112]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [113]:
df_downsampled['target'].value_counts()

target
1    1000
0    1000
Name: count, dtype: int64